<main class="container">
  <nav class="add-assignment">
    <a routerLink="/add">
      <button mat-flat-button class="ajouterBtn" color="accent" *ngIf="hasStatus()">
        Ajouter un devoir
      </button>
    </a>
  </nav>
  
  <div class="lists">
    <div class="rendu">
      <div>
      <h1 class="list-title">Devoirs non rendus</h1>
      <hr color="black" width="80%" size="5" align="center">
      </div>
      <mat-list *ngFor="let assignment of assignments">
          <mat-card  class="example-card" *ngIf="!assignment.rendu">
            
            
              <mat-card-content class="img-course">
                <mat-card-title class="course-title">{{ assignment.nom }}</mat-card-title>
                <img mat-card-img src="{{ assignment.course.course_src }}"/>
              </mat-card-content>
              
              <mat-card-content class="student">
                <h2>Assigned to student : </h2>
                <h2>{{ assignment.student }}</h2>
                
              </mat-card-content>

              <mat-card-content class="img-teacher">
                <img mat-card-image src="{{ assignment.course.teacher_src }}" alt="Photo of {{ assignment.course.teacher }}"> 
                <mat-card-subtitle class="course-subtitle">{{ assignment.course.teacher }}</mat-card-subtitle>   
              </mat-card-content>
              <mat-card-actions class="assignment-buttons">
                <button mat-button *ngIf="isAdmin()" (click)="openModifyDialog(assignment)">Modify</button>
                <button mat-button (click)="openDetailsDialog(assignment)">Details</button>
                <button mat-button *ngIf="isAdmin()" (click)="deleteAssignment(assignment)">Delete</button>
              </mat-card-actions>
            </mat-card>
      </mat-list>
    </div>

    <div class="nonrendu">
      <h1 class="list-title">Devoirs rendus</h1>
      <hr color="black" width="80%" size="5" align="center">
      <mat-list *ngFor="let assignment of assignments">
        <mat-card  class="example-card" *ngIf="assignment.rendu">
          
          
            <mat-card-content class="img-course">
              <mat-card-title class="course-title">{{ assignment.nom }}</mat-card-title>
              <img mat-card-img src="{{ assignment.course.course_src }}"/>
            </mat-card-content>
            
            <mat-card-content class="student">
              <h2>Assigned to student : </h2>
              <h2>{{ assignment.student }}</h2>
              
            </mat-card-content>

            <mat-card-content class="img-teacher">
              <img mat-card-image src="{{ assignment.course.teacher_src }}" alt="Photo of {{ assignment.course.teacher }}"> 
              <mat-card-subtitle class="course-subtitle">{{ assignment.course.teacher }}</mat-card-subtitle>   
            </mat-card-content>
            <mat-card-actions class="assignment-buttons">
              <button mat-button *ngIf="params.userRole=='Admin'" (click)="openModifyDialog(assignment)">Modify</button>
              <button mat-button (click)="openDetailsDialog(assignment)">Details</button>
              <button mat-button *ngIf="params.userRole=='Admin'" (click)="deleteAssignment(assignment)">Delete</button>

            </mat-card-actions>
          </mat-card>
    </mat-list>

    </div>
  </div>

</main>
