<main class="container">
  <div class="upperButtons" fxLayout="row" fxLayoutAlign="center center">
  
  <nav class="add-assignment">
    <a routerLink="/add">
      <button mat-flat-button class="ajouterBtn" color="accent" *ngIf="hasStatus()">
        Ajouter un devoir
      </button>
    </a>
  </nav>

  <button mat-flat-button class="populateBtn" color="accent" *ngIf="isEmpty" (click)="populateBD()">
    Populer la BD
  </button>

</div>
  
  <div class="lists">
    <div class="rendu">
      <div>
      <h1 class="list-title">Devoirs non rendus</h1>
      <hr color="black" width="80%" size="5" align="center">
      </div>
      <mat-list *ngFor="let assignment of assignments">
          <mat-card  class="example-card" *ngIf="!assignment.rendu">
            
            
              <mat-card-content class="img-course">
                <mat-card-title class="course-title">{{ assignment.nom }}</mat-card-title>
                <img mat-card-img src="{{ assignment.course.course_src }}"/>
              </mat-card-content>
              
              <mat-card-content class="student">
                <h2>Assigned to student : </h2>
                <h3>{{ assignment.student }}</h3>
                <h2>Turned in date : </h2>
                <h3>{{ assignment.dateDeRendu | date }}</h3>
                <div *ngIf="isAdmin()">
                <h2 class="toggleRendu">Turn over </h2>
                <mat-slide-toggle (click)="changeRendu(assignment)"></mat-slide-toggle>
              </div>
              </mat-card-content>

              <mat-card-content class="img-teacher">
                <img mat-card-image src="{{ assignment.course.teacher_src }}" alt="Photo of {{ assignment.course.teacher }}"> 
                <mat-card-subtitle class="course-subtitle">{{ assignment.course.teacher }}</mat-card-subtitle>   
              </mat-card-content>
              <mat-card-actions class="assignment-buttons">
                <button mat-button-raised *ngIf="isAdmin()" (click)="openModifyDialog(assignment)">Modify</button>
                <button mat-button-raised (click)="openDetailsDialog(assignment)">Details</button>
                <button mat-button-raised class="delete" *ngIf="isAdmin()" (click)="deleteAssignment(assignment)">Delete</button>
                
              </mat-card-actions>
              
            </mat-card>
      </mat-list>
    </div>

    <div class="nonrendu">
      <div>
      <h1 class="list-title">Devoirs rendus</h1>
      <hr color="black" width="80%" size="5" align="center">
      </div>
      <mat-list *ngFor="let assignment of assignments">
        <mat-card  class="example-card" *ngIf="assignment.rendu">
          
          
            <mat-card-content class="img-course">
              <mat-card-title class="course-title">{{ assignment.nom }}</mat-card-title>
              <img mat-card-img src="{{ assignment.course.course_src }}"/>
            </mat-card-content>
            
            <mat-card-content class="student">
              <h2>Assigned to student : </h2>
              <h3>{{ assignment.student }}</h3>
              <h2>Turned in date : </h2>
              <h3>{{ assignment.dateDeRendu | date }}</h3>
              <div *ngIf="assignment.comments!=undefined">
                <mat-label><h2>Comments:</h2></mat-label>
                <p>{{ assignment.comments }}</p>
              </div>
            </mat-card-content>

            <mat-card-content class="img-teacher">
              <img mat-card-image src="{{ assignment.course.teacher_src }}" alt="Photo of {{ assignment.course.teacher }}"> 
              <mat-card-subtitle class="course-subtitle">{{ assignment.course.teacher }}</mat-card-subtitle>   
            </mat-card-content>
            <mat-card-actions class="assignment-buttons">
              <button mat-button-raised *ngIf="params.userRole=='Admin'" (click)="openModifyDialog(assignment)">Modify</button>
              <button mat-button-raised (click)="openDetailsDialog(assignment)">Details</button>
              <button mat-button-raised class="delete" *ngIf="params.userRole=='Admin'" (click)="deleteAssignment(assignment)">Delete</button>
              <button mat-button-raised class="grade" *ngIf="params.userRole=='Admin'" (click)="gradeAssignment(assignment)">Grade</button>
            </mat-card-actions>
            
            <mat-card-content *ngIf="assignment.grade!=undefined">
              <mat-label><h2>Grade:</h2></mat-label>
              <p>{{ assignment.grade }} / 20</p>
            </mat-card-content>
          </mat-card>
    </mat-list>

    </div>
  </div>

</main>
