<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header fxLayout="row" fxLayoutAlign="space-around center">
        <mat-card-title class="register">Register</mat-card-title>
      </mat-card-header>
  
      <form ngForm class="example-form" #usersForm>
  
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="userName" name="nom" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="userEmail" name="email" type="email" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" [(ngModel)]="userPassword" name="password" type="password" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Choose a role...</mat-label>
            <mat-select name="role" [(ngModel)]="userRole">
              <mat-option [value]="roles" *ngFor="let roles of Roles">{{roles}} 
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        </mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <button mat-stroked-button color="accent" class="btn-block" (click)="onSubmit($event)">Register</button>
        </div>

      </form>
    </mat-card>
  </div>