<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div></div>
  <div class="home">
    <a mat-button routerLink="home" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </a>
  

   
  </div>
  <div class="title"> <h1>{{titre}}</h1></div>

  <div class="params"><p *ngIf="params.isLogged">{{ params.userRole }} : {{ params.userName }} </p></div>
  <div class="log">

    
    <a mat-button routerLink="login" routerLinkActive="active" *ngIf="!params.isLogged; else nonlog">Log in</a>
    <ng-template #nonlog>
      <a mat-button (click)="unlog()">Disconnect</a>
    </ng-template>
   
    <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<!--
  On va afficher le composant qui correspond à l'url courant (à la route)
-->
<router-outlet></router-outlet>
