.container {
    display: grid;
    grid-template-areas: "header header" "side content";
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-column: 150px calc(90vw - 150px)
}


.app-header {
    display: grid;
    grid-template-columns: repeat(8, 3fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(60px, auto);
  }

.home {
    grid-column: 1;
    grid-row: 1;
}

.title {
    grid-column: 4 / 6;
    grid-row: 1;
}

.params {
    grid-column: 7;
    grid-row: 1;
}

.log {
    grid-column: 8 / 8;
    grid-row: 1;
}